// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes-step-bar__wrapper {
  background-color: #f3f2ef;
  height: 100px; 
  .homes-step-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 82px;
    .step {
      position: relative;
      background-color: white;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      span {
        position: absolute;
        left: 7px;
        top: 16px;
      }
    }
  }   
}

.homes-letter-form__wrapper {
  .homes-letter-form {
    background-color:  #f8f8f6;
    height: calc(100vh - 200px);
  }
}

